* {
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    padding: 0;
    cursor: default;

    font-family: sans-serif;

}

body{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
